@font-face {
  font-family: 'BankGothic Md BT Medium';
  src: url('../../bank-gothic-med/adfd298e421945768d7bf13da3ee8a45.eot'); /* IE9*/
  src: url('../../bank-gothic-med/adfd298e421945768d7bf13da3ee8a45.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */
      url('../../bank-gothic-med/adfd298e421945768d7bf13da3ee8a45.woff2')
      format('woff2'),
    /* chrome、firefox */
      url('../../bank-gothic-med/adfd298e421945768d7bf13da3ee8a45.woff')
      format('woff'),
    /* chrome、firefox */
      url('../../bank-gothic-med/adfd298e421945768d7bf13da3ee8a45.ttf')
      format('truetype'),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url('../../bank-gothic-med/adfd298e421945768d7bf13da3ee8a45.svg#BankGothic Md BT Medium')
      format('svg'); /* iOS 4.1- */
}

body {
  background-image: linear-gradient(#e6fff2, mintcream);
  overflow: hidden;
  margin: 0;
}

.wrapper {
  display: flex;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.img-holder {
  display: flex;
  justify-content: center;
}

.header {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  text-align: center;
}

@media only screen and (max-width: 850px) {
  .title {
    display: none !important;
  }
  p,
  .about {
    font-size: 8pt !important;
  }
  .navbar {
    margin-top: 5px;
  }
  .nav-item {
    font-size: 9pt !important;
  }
}

.title {
  display: flex;
  justify-content: center;
  font-family: 'BankGothic Md BT Medium';
  color: darkgreen;
  font-size: 11pt;
}

.navbar {
  padding: 0 30%;
  display: flex;
  justify-content: center;
  z-index: 2;
}

.nav-item {
  padding: 0 10px;
  text-decoration: none;
  color: black;
  font-family: 'BankGothic Md BT Medium';
  font-size: 11pt;
}

img {
  width: 50%;
  height: auto;
  cursor: zoom-in;
}

p {
  font-family: 'Quicksand', sans-serif;
  font-size: 9pt;
  text-align: center;
}

iframe {
  width: 50%;
  height: 100%;
}
